*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:system-ui;
}

body{
    background:linear-gradient(135deg,#020617,#0f172a);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    background:#0b1120;
    width:420px;
    padding:40px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 0 40px rgba(0,0,0,0.6);
}

h1{
    color:white;
    margin-bottom:25px;
}

.upload-btn{
    display:block;
    padding:15px;
    border-radius:12px;
    background:linear-gradient(90deg,#8b5cf6,#6366f1);
    color:white;
    cursor:pointer;
}

.file-selected{
    margin-top:15px;
    color:#22c55e;
    display:none;
    font-weight:600;
}

.preview-container{
    margin-top:20px;
    max-height:250px;
    overflow-y:auto;
    display:none;
}

.preview-container canvas{
    width:100%;
    margin-bottom:15px;
    border-radius:10px;
    border:1px dashed #334155;
}

.convert-btn{
    margin-top:20px;
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    background:linear-gradient(90deg,#22c55e,#16a34a);
    color:white;
    display:none;
    cursor:pointer;
}

.download-btn{
    display:none;
    margin-top:20px;
    padding:12px;
    background:#3b82f6;
    border-radius:10px;
    color:white;
    text-decoration:none;
}

.download-status{
    margin-top:15px;
    color:#22c55e;
    display:none;
}

.full-loader{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#020617;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:9999;
    display:none;
}

.loader-box{
    width:350px;
    text-align:center;
}

.loader-box h2{
    color:white;
    margin-bottom:20px;
}

.progress-bar{
    width:100%;
    height:10px;
    background:#1e293b;
    border-radius:10px;
    margin-top:10px;
}

.progress{
    height:100%;
    width:0%;
    background:#22c55e;
    border-radius:10px;
}

#progressText{
    color:white;
    font-size:20px;
}
